* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fafbfc;
    margin: 0;
    padding: 0;
}

.content-wrapper {
    max-width: 65%;
    margin: 0 auto;
}

.anchor {
    display: block;
    height: 120px;
    margin-top: -120px;
    visibility: hidden;
}

footer {
    margin: 0;
    padding: 1px 0 10px 0;
}

header {
    height: 70vh;
    min-height: 500px;
    margin: 0;
    padding: 45px 100px;
    background: url(data/header_bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header h1 {
    padding: 50px 0;
    font-size: 90px;
    line-height: 220px;
    text-align: center;
}

.navigation-wrapper {
    margin: 0 auto;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    transition: all 0.4s;
}

.navigation-wrapper img {
    height: 100%;
    width: auto;
    padding: 10px;
}

.navigation-wrapper nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
}

.navigation-wrapper nav ul li {
    margin: 0 10px;
    padding: 0 20px;
    width: auto;
    text-align: center;
    font-size: 26px;
}

.navigation-wrapper nav ul li a {
    text-decoration: none;
    color: #292929;
    width: 100%;
    height: 100%;
    display: block;
}

.navigation-wrapper nav ul li a:hover {
    /* border-bottom: 2px solid #7e1a13; */
    text-decoration: underline;
    color: #7e1a13;
    transition: all 0.3s;
}

.info {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.contact {
    display: flex;
    flex-direction: column;
    margin-right: 55px;
}

.contact a {
    text-decoration: none;
    color: black;
}

.contact a:hover {
    text-decoration: underline;
}

.opening-times {
    display: flex;
    flex-direction: column;
    margin-right: 55px;
}

.opening-times .row .day {
    min-width: 55px;
    display: inline-block;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #fafbfc;
    box-shadow: 0 1px 10px 3px rgba(0, 0, 0, 0.15);
}

.sticky+.content-wrapper {
    padding-top: 120px;
}

.sticky nav ul li {
    height: 90px;
    line-height: 90px;
}

h2 {
    font-size: 45px;
    padding: 20px 0;
    margin: 0;
}

.page {
    padding: 30px 0;
}

.page-map {
    padding-bottom: 0;
}

.page-sales-form,
.page-contact,
footer {
    background-color: #eef3f7;
}

#map {
    width: 100%;
    height: 600px;
}

.form-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 35px 0;
}

.form-fieldset {
    width: 50%;
}

.form-fieldset legend {
    font-style: italic;
}

.form-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin: 15px 20px 15px 0;
    align-items: baseline;
    width: 40%;
}

.form-item label {
    font-weight: bold;
}

.form-item input,
.form-item textarea {
    padding: 8px;
    border-radius: 2px;
    border: none;
    background-color: #fafbfc;
    margin-top: 5px;
    font-size: 18px;
    width: 100%;
}

.form-item-textarea {
    flex-grow: 2;
    width: 60%;
}

.form-item-textarea textarea {
    height: 100px;
    width: 85%;
}

.gotcha {
    display: none;
}

.submit {
    color: #f9f9f9;
    background-color: #7e1a13;
    border: none;
    margin: 0;
    padding: 13px 28px;
    font-size: 18px;
    cursor: pointer;
}

.form-item ::placeholder {
    color: #a6a6a6;
}